.gradient-custom {
  /* fallback for old browsers */
  background: #f093fb;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(
    to bottom right,
    #e4a11b,
    rgba(245, 87, 108, 1)
  );

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(
    to bottom right,
    #e4a11b,
    rgba(245, 87, 108, 1)
  );
}
.container-form{
  height: 100%;
 display: flex;
}
