<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
  </head>
  <body>
    <div class="px-3 py-2 text-white" style="background-color: dimgrey; position: fixed; width: 100%;">
      <div class="container">
        <div
          class="d-flex flex-wrap align-items-center justify-content-center"
        >
          <a
            class="d-flex align-items-center my-2 my-lg-0 text-white text-decoration-none"
          >
           CAPSTONE Project</a
          >
        </div>
      </div>
    </div>
  </body>
</html>

